

@media all and (min-width: 960px) {

  body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    // font-size: 16px;
    font-size: 1.2em;
    line-height: 1.75;
  }

  blockquote {
    font-style: italic;
    font-weight: 600;
    font-family: 'Open Sans';
    text-indent: 0px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 14px;
    margin-top: 0px;
  }

  h1 {
    font-family: 'News Cycle', sans-serif;    
    font-weight: 400;
    // font-size: 36px;
    font-size: 3.2em;
    line-height: 1.4;
  }

  h2 {
    font-family: 'News Cycle', sans-serif;    
    font-weight: 400;
    // font-size: 28px;
    font-size: 2.8em;
    line-height: 1.4;
  }

  h3 {
    font-family: 'News Cycle', sans-serif;    
    font-weight: 700;
    // font-size: 24px;
    font-size: 2.2em;    
    line-height: 1.4;
  }

  h4 {    
    font-family: 'Open Sans';
    font-weight: 400;    
  }

  h5 {
    font-family: 'Open Sans';
    font-weight: 400;    
  }

  h6 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
  }

  p {
    margin: 13px 0 18px;
  }

}